CREATE TABLE IF NOT EXISTS public.task_functions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL,
  code TEXT NOT NULL,
  description TEXT
);

-- Create index on name for faster lookups
CREATE INDEX IF NOT EXISTS idx_task_functions_name ON public.task_functions (name);

-- Create keystore table first, before any policies are applied
CREATE TABLE IF NOT EXISTS public.keystore (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL,
  value TEXT NOT NULL,
  scope TEXT DEFAULT 'global',
  owner_id UUID,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(),
  UNIQUE(name, scope, owner_id)
);

-- Create index
CREATE INDEX IF NOT EXISTS idx_keystore_name ON keystore (name); 